<div class="section-header p-relative">
  <div class="header-wrapper">
    <header class="header ctnr d-flex between-xs middle-xs p-relative" data-ui-component="Header Section">
      <div class="header__logo w-100 d-flex between-xs middle-xs">
        <div class="header-logo">
          {%- if request.page_type == 'index' -%}
            <h1 class="header__heading m-zero wb-break-word visually-hidden">{{ section.settings.logo.alt | default: shop.name | escape }}</h1>
          {%- endif -%}
          <a href="{{ routes.root_url }}" aria-label="{{ section.settings.logo.alt | default: shop.name | escape }}" class="header__logo-link m-zero d-block h4 wb-break-word">
            {%- if section.settings.logo != blank -%}
              {%- assign image_size_2x = section.settings.logo.width | times: 2 -%}
              <img
                srcset="{{ section.settings.logo | image_url: width: section.settings.logo.width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
                src="{{ section.settings.logo | image_url: width: section.settings.logo.width }}"
                loading="lazy"
                class="logo"
                width="{{ section.settings.logo.width }}"
                height="{{ section.settings.logo.height }}"
                alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
              >
            {%- else -%}
              <span class="header__heading m-zero wb-break-word">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>
        <div class="header__icon d-flex d-none-lg">
          <button type="button" class="btn bg-transparent js-menu-drawer-trigger">
            {%- render 'icon-hamburger' -%}
          </button>
        </div>
      </div>
      <div class="header__nav">
        <ul class="main-nav fw-wrap w-100 end-sm ls-none">
          {% for link in linklists[section.settings.main_linklist].links %}
            {% liquid
              assign child_list_handle = link.title | handleize
            %}
            <li class="nav__item d-block fw-700{% if link.active %} nav__item--active{% endif %}">
              <a href="{{ link.url }}" class="nav__link d-block"><span class="nav__link__title">{{- link.title -}}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </header>
  </div>
  <div class="drawer__overlay"></div>
  <div class="drawer__wapper d-none-lg">
    <div class="drawer__header d-flex middle-xs between-xs">
      <h2 class="drawer__heading h4 m-zero fw-700">Menu</h2>
      <button class="drawer__btn-close btn bg-transparent">
        {%- render 'icon-close' -%}
      </button>
    </div>
    <div class="drawer__body"></div>
  </div>
</div>
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "default": "main-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}